{% extends 'base.html' %}
{% load static %}
{% block page_title %}
자유게시판
{% endblock page_title %}
{% block content %}

<!-- Page Heading -->

<div class="card-body">
    <h3>자유게시판</h3>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>글 제목</th>
                        <th width='160px'>작성자</th>
                        <th width='160px'>작성 날짜</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td><a href="{% url 'snsapp:detail' post.pk %}">{{post.title}}</a></td>
                        <td>{{post.author}}</td>
                        <td>{{post.date.date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>

        <!-- paginator -->
        <div>
            page {{posts.number}} of {{posts.paginator.num_pages}}
            <ul class="pagination float-right">
                <!-- 이전 페이지 -->
                {% if posts.has_previous %}
                <li class="page-item">
                    <a href="?page={{posts.previous_page_number}}" class="page-link">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                {% endif %}


                <!-- 페이지 링크들 -->
                {% for page in posts.paginator.page_range %}
                {% if posts.number == page %}
                <li class="page-item active">
                    <a href="?page={{page}}" class="page-link">{{page}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{page}}" class="page-link">{{page}}</a>
                </li>
                {% endif %}
                {% endfor %}

                <!-- 다음 페이지 -->
                {% if posts.has_next %}
                <li class="page-item">
                    <a href="?page={{posts.next_page_number}}" class="page-link">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- 글쓰기 버튼 -->
<div>
    <a href="{% url 'snsapp:postcreate' %}" class="btn btn-primary btn-icon-split float-right">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">글쓰기</span>
    </a>
</div>
{% endblock %}